	body {
		background:#B1EBF6
	}
   body header {
    display:block;
    background:#6DDEF3 no-repeat fixed;
    width:88%;
    height:auto;
    margin:0 auto;
    padding-top:29px;
    padding-bottom:29px;
    font-size:48px;
    color:#FFF;
    text-align:center;
    border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
    -moz-border-radius:10px 10px 10px 10px; /* Firefox */
    -o-border-radius:10px 10px 10px 10px; /* Opera */
    -ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
   }
	body header #social {
    display:block;
    clear:both;
    width:50%;
    height:auto;
    margin-left:60%;
   }
   body header #social  {
    padding-left:7px;
    padding-right:7px;
   }
   body header #social a img:hover {
    opacity:0.6;
    transition:all ease-in-out .3s;
   }
   body #contenedor {
    display:block;
    width:88%;
    margin:0 auto;
   }
   body nav {
	   
	   text-align:left;
	   
    margin:0 auto;
 padding:3px;
  padding-bottom:20px;
 height:auto;
 
    background:#CEECF5 no-repeat fixed;
    width:88%;
    height:45px;
	border-radius:10px 10px 10px 10px;
   }
   
   
	#lista ul {
 width:600px;
 list-style:none;
 margin:auto;
 padding:0;
}

/* items del menu */

#lista ul li {
 background-color:#2e518b;
}

/* enlaces del menu */

#lista ul a {
 display:block;
 color:#fff;
 text-decoration:none;
 font-weight:400;
 font-size:15px;
 padding:10px;
 font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
 text-transform:uppercase;
 letter-spacing:1px;
}

/* items del menu */

#lista ul li {
 position:relative;
 float:left;
 margin:0;
 padding:0;
}

/* efecto al pasar el ratón por los items del menu */

#lista ul li:hover {
 background:#5b78a7;
}
 /* menu desplegable */

#lista ul ul {
 display:none;
 position:absolute;
 top:100%;
 left:0;
 background:#eee;
 padding:0;
}

/* items del menu desplegable */

#lista ul ul li {
 float:none;
 width:150px
}

/* enlaces de los items del menu desplegable */

#lista ul ul a {
 line-height:120%;
 padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#lista ul li:hover > ul {
 display:block;
}
   body #contenedor {
    display:block;
    width:88%;
    margin:0 auto;
   }
   body section {
    display:block;
    float:left;
    background:#CEECF5 no-repeat fixed;
    width:69%;
    height:auto;
    margin-top:5px;
    font-size:19px;
    color:#819B9F ;
    text-align:justify;
    border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
    -moz-border-radius:10px 10px 10px 10px; /* Firefox */
    -o-border-radius:10px 10px 10px 10px; /* Opera */
    -ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
   }
   
   body aside {
    display:block;
    float:left;
    background:#CEECF5 no-repeat fixed;
    width:30%;
    height:auto;
    margin-top:5px;
    margin-left:1%;
    font-size:19px;
    color:#819B9F ;
    text-align:center;
    border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
    -moz-border-radius:10px 10px 10px 10px; /* Firefox */
    -o-border-radius:10px 10px 10px 10px; /* Opera */
    -ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
   }
   body footer {
    display:block;
    clear:both;
    background:#CEECC8 no-repeat fixed;
    width:88%;
    height:auto;
    margin:0 auto;
    margin-top:44px;
    font-size:19px;
    color:#819B9F ;
    text-align:center;
    border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px; /* Chrome y Safari */
    -moz-border-radius:10px 10px 10px 10px; /* Firefox */
    -o-border-radius:10px 10px 10px 10px; /* Opera */
    -ms-border-radius:10px 10px 10px 10px; /* Internet Explorer */
   }